.general{
    display: flex;
    flex-direction: row;
}
 table {
    width: 600px;
    border-collapse: collapse;
   }
   td, th {
    padding: 3px;
    border: 1px solid black;
   }
   th {
    background: #2CD2ED;
   }
   body {
    background: url(src/pic5.png);
    color: #fff;
   }
   h1 {
	   text-align: center;
	   width:400px;
	   height: 180px;
	   font-family: Verdana, sans-serif; 
	   font-size: 250%; 
	   font-weight: light
   }
  